{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 116, "knowledge_revision": 248, "git_revision": "", "hash": "ed70433b3c98f385cb424dadc1fae37c", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"248": ""}]}