{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 125, "knowledge_revision": 268, "git_revision": "", "hash": "775c32325effccc39446a72068381593", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"268": ""}]}