{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 123, "knowledge_revision": 260, "git_revision": "", "hash": "e19c2368cf97e5f3eaf8de37cff2b341", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Configs/Warnings.xcconfig", "revision_history": [{"260": ""}]}