{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 53, "knowledge_revision": 186, "git_revision": "", "hash": "0e104e596a4515555f625a835705ac47", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/windows/runner/Runner.rc", "revision_history": [{"186": ""}]}