{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 159, "git_revision": "", "hash": "6835d1b64d1832cd7eacdc811a0dc9f9", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Runner/Info.plist", "revision_history": [{"159": ""}]}